name: sync to cdn
on:
    push:
        branches:
            - main
jobs:
    build:
        name: ZrLog editor on ${{ matrix.os }}
        #    runs-on: [self-hosted, Linux, X64]
        #    runs-on: buildjet-4vcpu-ubuntu-2204-arm
        runs-on: ${{ matrix.os }}
        concurrency:
            group: deploy-release-on-${{ matrix.os }}-deb   # 同一个 group 的任务会排队执行
            cancel-in-progress: false # 不取消前一个任务，而是等待
        strategy:
            matrix:
                os: [ ubuntu-22.04]
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Build and upload binary
              run: |
                  bash -e shell/upload-bin.sh ${{ secrets.SECRET_ID }} ${{ secrets.SECRET_KEY }} ${{ secrets.BUCKET }} . artifacts  ${{ secrets.HOST }}